.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    /* margin: 50px; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    padding: 4rem 0;
    width: 700px;
    /* white-space: nowrap; */
}
.header h1 {
    line-height: 60px;
    letter-spacing: 0.8rem;
    font-size: 48px;

}
.header strong {
    color: var(--special-color);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-end;
    gap: 30px;
    padding: 1.5rem 0;
    width: 80%;
    /* white-space: nowrap; */
}
.info p {
    font-size: 20px;
    line-height: 30px;
}
.info strong {
    color: var(--special-color);
    transition: 1s ease-in-out;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-end;
    gap: 30px;
    padding: 1.5rem 0;
    width: 80%;
    /* white-space: nowrap; */
}
.links div {
    width: 100%;
}
.links p {
    width: 10%;
    font-size: 20px;
    line-height: 30px;
    /* color: rgba(1, 65, 255, 0.5); */
    color: var(--foreground-rgb);
    transition: 0.3s ease-in-out;
}
.links a {
    width: 100%;
}
.links a:hover > p {
    transform: translateX(30px);
    color: var(--special-color);
}

@media (max-width: 800px) {
    .header {
        width: 100%;
    }
    .header h1 {
        font-size: 36px;
        letter-spacing: 0.5rem;
    }
    .info p {
        font-size: 16px;
    }
    .links p {
        color: var(--special-color);
    }
}
@media (max-width: 600px) {
    .container {
        padding: 100px 50px;
    }
}
@media (max-width: 500px) {
    .header {
        width: 100%;
    }
    .header h1 {
        font-size: 32px;
        letter-spacing: 0.3rem;
    }
    .info {
        width: 100%;
    }
    .info p {
        font-size: 16px;
    }
    .links {
        width: 100%;
    }
    .links p {
        color: var(--special-color);
    }
}