.container {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 20px var(--shadow-color);
    padding: 0 100px 0 100px
}

/* .logo{
flex-direction: column;
align-items: center;
margin-left: 30px;
text-decoration: none;

} */

.links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--foreground-color);
}
.item_selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--special-color);
}

.underline {
    width: 0;
    height: 1px;
    margin: 2px;
    background-color: transparent;
    transition: 0.3s ease;
}

.item:hover .underline {
    background-color: var(--special-color);
    width: 100%;
    
}

.theme_switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    width: 40px;
    height: 22px;
    padding: 2px;
    border: 2px solid var(--special-color);
    border-radius: 50px;
    box-sizing: border-box;
}
.theme_switch::before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 15px;
    height: 15px;
    margin-left: 1px;
    left: 0;
    right: unset;
    border: solid thin rgb(var(--background-start-rgb));
    border-radius: 50%;
    background-color: var(--special-color);
    transition: 0.3s ease;
}
.theme_switch.dark_mode::before {
    left: unset;
    transform: translateX(100%);
    border: solid thin black;
}

@media (max-width: 800px) {
    .container {
        justify-content: center;
    }
}
@media (max-width: 500px) {
    .container {
        justify-content: center;
    }
    .links{
        gap: 20px;
    }
}