.container {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 20px var(--shadow-color);
    padding: 0 100px 0 100px
}

/* .logo{
flex-direction: column;
align-items: center;
margin-left: 30px;
text-decoration: none;

} */

.menuToggle {
    display: none;
    cursor: pointer;
    color: var(--foreground-color);
    z-index: 3;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--foreground-color);
}
.item_selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--special-color);
}

.underline {
    width: 0;
    height: 1px;
    margin: 2px;
    background-color: transparent;
    transition: 0.3s ease;
}

.item:hover .underline {
    background-color: var(--special-color);
    width: 100%;
    
}

.theme_container {
    position: relative;
    height: min-content;
}

.theme_switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    width: 40px;
    height: 22px;
    padding: 2px;
    border: 2px solid var(--special-color);
    border-radius: 50px;
    box-sizing: border-box;
}
.theme_switch::before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 15px;
    height: 15px;
    margin: 0 1px;
    left: 0;
    right: unset;
    border: solid thin rgba(var(--background-end-rgb), 0.6);
    border-radius: 50%;
    background-color: var(--special-color);
    transition: 0.3s ease;
}
.theme_switch.dark_mode::before {
    left: unset;
    transform: translateX(calc(100%)); 
    /* right: 0; */ 
}
.icon {
    font-size: 16px;
    padding: 2px;
}

.fadeInItem {
    opacity: 0;
    animation: fadeSlideIn 1s ease forwards;
}

@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  

@media (max-width: 800px) {
    .container {
        justify-content: center;
    }
}
@media (max-width: 600px) {
    .container {
        padding: 0 50px;
    }
    .links{
        gap: 30px;
    }
}
/* @media (max-width: 500px) {
    .container {
        justify-content: center;
    }
    .item {
        font-size: 12px;
    }
    .links{
        gap: 20px;
    }
    .theme_switch {
        width: 32px;
        height: 18px;
        padding: 0px;
    }
    .theme_switch::before {
        width: 12px;
        height: 12px;
    }
    .theme_switch.dark_mode::before {
        left: unset;
        transform: translateX(calc(100%));
    }
    .icon {
        font-size: 14px;
        padding: 2px;
    }
} */
/* @media (max-width: 400px) {
    .links{
        gap: 15px;
    }
}
@media (max-width: 350px) {
    .links{
        gap: 10px;
    }
} */
@media (max-width: 500px) {
    .menuToggle {
        display: block;
        position: absolute;
        left: 20px;
    }
  
    .links {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100dvh;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background: linear-gradient(to bottom, rgb(var(--background-start-rgb)) , transparent 1000%);
        padding: 20px;
        padding-top: 50px;
        z-index: 2;
        transition: all 0.4s ease-in-out;
    }

    .links.mobile_close {
        transform: translateX(-100%);
        opacity: 0;
    }
  
    .links.mobile_open {
        display: flex;
        transform: translateX(0);
        opacity: 1;
    }
  
    .theme_container {
        align-self: flex-start;
        margin-top: 2rem;
    }
}